body {
    background: linear-gradient(green, yellowgreen); 
    background-attachment: fixed;
    color: white;
    width: 1024px;
    min-height: 300px;
    margin: auto;}
.cool {
    color: red;
    border-left-style: dashed;
    border-top-style: dotted;
}
p {
    font-size: 18px;
    font-family: "consolas";
    border-style:groove;
    border-width:5px;
    border-color: blueviolet;
    border-radius: 10px;
    padding: 5px;
}
iframe {
    margin: 3%;
    margin-left: 20%;
    padding: 4px;
    border-radius: 10px;
    border-style: groove;
    border-color: yellowgreen;

}
#Lorem {
    color: rgb(0, 255, 234);
    font-size: 20px;
    font-family: "Press Start 2P";
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
    text-decoration: line-through;
    line-height: 50px;
    text-align: justify;
    border-style:groove;
    border-width:5px;
    border-color: red;
    border-radius: 10px;
    padding: 5px;
    margin: 100px;
    margin-top: 0px;
    padding: 50px;
    text-shadow: 0px -6px 2px #000;
}
#bc{
    height: 300px;
    width: 300px;
    background-color: rgba(16, 255, 211, 0.5);
    border-radius: 10px;
    border: 2px groove;
    border-color: #fff;
    position: sticky;
    top: 0px;
    bottom: 0px;
    
}
#bv{
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 10px;
    border: 1px solid;
    border-color: red;
    position: absolute;
    top: 100px;
    left:100px;
    opacity:0.3;
}
#bombaclat{
    border-color: blue !important;
    border: 2px solid;
    font-size: 50px;
   height: 400px;
   width: 800px;
   border-radius: 10px;
}